<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>About</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Manchester United</h1>
      <nav class="navbar">
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="fixtures">Fixtures</a></li>
          <li class="nav-item"><a href="contact">Contact</a></li>
          <li class="nav-item"><a href="about">About</a></li>
          <li class="nav-item"><a href="news">News</a></li>
          <li class="nav-item"><a href="form">Form</a></li>
        </ul>
      </nav>
    </header>

    <main class="main_section_about">
      <div class="section_about">
        <div class="about-me">
          <h1>About Manchester United</h1>
          <img
            class="about_img"
            src="{{url_for('static', filename='images/united_team_photo.jpeg')}}"
            alt="Your Profile Image"
          />
          <p>
            Despite a solid start to the campaign, United’s 2009/10 term
            contained a sting in the tail as Chelsea’s late surge for the line
            ended the Reds’ chances of winning a fourth successive title by a
            single point in a race which ran until the final day of the season.
            There was some solace to be found in the retention of the League
            Cup, achieved at Aston Villa’s expense and secured by a late winner
            from Wayne Rooney, whose individual excellence was rewarded with
            both the PFA Player’s Player of the Year and Football Writers’
            Player of the Year awards. Despite that single piece of silverware,
            the 2009/10 campaign was most notable for the heightened stakes of
            the Manchester derby, with a club takeover inflating the ambition of
            Manchester City and putting them in the frame for honours. United’s
            local authority was exerted, however, with home and away Premier
            League wins and a League Cup semi-final triumph, with each victory
            dramatically procured in injury-time. Both Manchester clubs were
            intent on bringing the Premier League trophy back to the North-West
            as the 2010/11 season began, and United’s squad was bolstered by the
            low-key captures of promising youngsters Javier Hernandez and Chris
            Smalling. Though largely unknown, the duo quickly gelled with the
            squad and, despite a season of largely unconvincing away form,
            United reclaimed the title for a record 19th domestic rule. While
            Rooney had powered the 2009/10 campaign with his prolific form in
            front of goal, 2010/11 was notably more of a squad success. From the
            goalkeeper Edwin van der Sar – in his last season at the club –
            through to the ageless influence of Ryan Giggs and Paul Scholes, up
            to a revitalised Rooney, all hands were at the pump as Chelsea were
            dethroned. A remarkable home record was the cornerstone of the
            success but, in Europe, it was miserly away form that helped propel
            the Reds into another Champions League final against Barcelona, this
            time at Wembley. For the second time in three years, Lionel Messi
            and co were ultimately too strong for United on the night, but it
            was that record 19th league title that made it another season to
            remember at Old Trafford. The bid to quickly usher number 20 into
            the record books looked strong in the early stages of 2011/12. Sir
            Alex Ferguson strengthened his squad with the signings of David De
            Gea, Phil Jones and Ashley Young, while homegrown talents Tom
            Cleverley and Danny Welbeck made the step up to senior regularity.
            Despite a breathtaking start to the campaign, the Reds were rocked
            by a spate of injuries and a thumping home defeat to City, who had
            emerged as the only genuine challengers for the title. Having fought
            on admirably against adversity – and welcomed Scholes back in a
            shock retirement U-turn, United gradually reeled in Roberto
            Mancini’s side and, with a month of the season remaining, had built
            an eight-point lead. However, a quickfire run of poor results
            allowed City to retake the lead on the home straight, and they
            secured their first title in 44 years in heartbreaking fashion,
            scoring twice in injury-time on the final day of the season to beat
            Queens Park Rangers and top the table on goal difference.Inevitably,
            Sir Alex remained defiant, congratulating the new champions while
            warning: “We’re disappointed about losing the eight-point lead, but
            I’m not going to have any recriminations for any of my players.
            They’re a solid bunch of lads and they’ll be fine .Don’t worry about
            that.” Sir Alex's prophecy proved right less than 12 months later
            when his squad, fired by the aforementioned bitter disappointment
            and bolstered by the signings of Robin van Persie and Shinji Kagawa,
            romped to a record 20th league title. The triumph was sealed early
            on 22 April 2013, with top scorer van Persie appropriately netting a
            hat-trick in a glorious 3-0 home victory over Aston Villa. The end
            of that 2012/13 season brought the news that millions of Reds had
            been dreading for a long time: Sir Alex Ferguson was to step down as
            manager of Manchester United. His retirement was announced on 8 May
            2013 and his selection as successor was named the very next day.
            David Moyes arrived from Everton, tasked with following in the
            footsteps of British football's most successful manager. It proved
            to be too tall an order for the Scot, despite his impressive if
            trophy-less track record at Goodison Park. Towards the end of a
            disappointing 2013/14 season, with United unable to win any of the
            cup competitions and lying in seventh place, it was announced that
            Moyes had left the club. On the same day, 22 April 2014, the Reds'
            longest serving and most-decorated player Ryan Giggs was placed in
            temporary charge until the end of the season.
          </p>
        </div>
      </div>
    </main>
    <footer class="footer">Home Of The Red Devils</footer>
  </body>
</html>
