<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>Contact</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Manchester United</h1>
      <nav class="navbar">
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-list">
          <li class="nav-item"><a href="home">Home</a></li>
          <li class="nav-item"><a href="fixtures">Fixtures</a></li>
          <li class="nav-item"><a href="contact">Contact</a></li>
          <li class="nav-item"><a href="about">About</a></li>
          <li class="nav-item"><a href="news">News</a></li>
          <li class="nav-item"><a href="form">Form</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-contact-section">
      <section class="contact-section">
        <h1>Contact Information</h1>
        <ul>
          <li>
            <strong>Name:</strong> John Doe
            <br />
            <strong>Email:</strong> johndoe@mufc.com
            <br />
            <strong>Phone:</strong> (123) 456-7890
          </li>
          <li>
            <strong>Name:</strong> Jane Smith
            <br />
            <strong>Email:</strong> janesmith@mufc.com
            <br />
            <strong>Phone:</strong> (555) 555-5555
          </li>
          <li>
            <strong>Name:</strong> Bob Johnson
            <br />
            <strong>Email:</strong> bobjohnson@mufc.com
            <br />
            <strong>Phone:</strong> (987) 654-3210
          </li>
          <li>
            <strong>Name:</strong> Ian Kinnear
            <br />
            <strong>Email:</strong> iankinnear@mufc.com
            <br />
            <strong>Phone:</strong> (987) 654-3210
          </li>
        </ul>
      </section>
    </main>

    <footer class="footer">Home Of The Red Devils</footer>
  </body>
</html>
