<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Manchester United</h1>
      <nav class="navbar">
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="fixtures">Fixtures</a></li>
          <li class="nav-item"><a href="contact">Contact</a></li>
          <li class="nav-item"><a href="about">About</a></li>
          <li class="nav-item"><a href="news">News</a></li>
          <li class="nav-item"><a href="form">Form</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-section_homepage">
      <div class="home_page_img">
        <img
          src="{{url_for('static', filename='images/rashford.jpg')}}"
          alt="Rashford"
        />
      </div>
    </main>

    <footer class="footer">Home Of The Red Devils</footer>
  </body>
</html>
