<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/news.css') }}"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>News</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Manchester United</h1>
      <nav class="navbar">
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="fixtures">Fixtures</a></li>
          <li class="nav-item"><a href="contact">Contact</a></li>
          <li class="nav-item"><a href="about">About</a></li>
          <li class="nav-item"><a href="news">News</a></li>
          <li class="nav-item"><a href="form">Form</a></li>
        </ul>
      </nav>
    </header>

    <div class="article-container">
      <div class="article-box small">
        <h2>GALATASARAY NAME TRAVELLING SQUAD</h2>
        <p>
          Hakim Ziyech has been ruled out of a reunion with former manager Erik
          ten Hag in Tuesday's UEFA Champions League game between Manchester
          United and Galatasaray. The Morocco winger was a key member of Ten
          Hag's outstanding Ajax side before joining Chelsea in 2020. A loan
          move was agreed to send him to Istanbul in the summer but he has
          sustained what was described as a minor injury. Nonetheless, despite
          hopes he would be available for the Group A encounter, the 30-year-old
          has not been named in the 19-man travelling squad.
        </p>
      </div>
      <div class="article-box small">
        <h2>WHY BAYINDIR HAS STILL TO MAKE REDS DEBUT</h2>
        <p>
          "You will see [if Bayindir gets a chance to play soon], but we chose
          against Crystal Palace in the League Cup to play Andre because both
          came new in and both have to adapt to the English standard," explained
          the boss. "So that's why we preferred Andre to play in that game.
          "It's important for him to use every game in this moment, but yeah, we
          also have to progress Altay, that's clear. "He makes a very good
          impression in training, he's really developing, progressing. So we're
          very happy with that and we are convinced we have the two right
          goalkeepers in our squad to do the job for us."
        </p>
      </div>
      <div class="article-box small">
        <h2>VARANE: THE DEVIL IS IN THE DETAIL</h2>
        <p>
          Manchester United can win the UEFA Champions League this season but
          admits the team will need to improve on recent performances and
          results. The Frenchman was an ideal companion for Erik ten Hag at the
          pre-match press conference for our first home game in the competition,
          given his track record for winning it with Real Madrid in 2013/14,
          2015/16, 2016/17 and 2017/18.
        </p>
      </div>
    </div>
    <footer class="footer">Home Of The Red Devils</footer>
  </body>
</html>
