* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 24px;
  color: white;
  padding: 20px;
}

.navbar {
  background-color: #333;
  padding-top: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #f0f0f0;
}

.main-section_homepage {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu-toggle {
  display: none;
}

.article-container {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.article-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(235, 0, 0, 0.925);
  margin-bottom: 80px;
}

.small {
  width: 30%;
}
.small h2 {
  color: #eb1e1e;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.small p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 10px;
  color: black;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .main-section_homepage {
    padding-top: 80px;
  }

  .form-container {
    height: 70%;
    margin-top: 30px;
  }

  .article-box {
    width: 100%;
    max-width: 100%;
  }

  .article-box p {
    overflow-wrap: break-word;
  }
}
